<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="projetoDenteForte.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-5CQRVAN\SQLEXPRESS;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="projetoDenteForte.Properties.Settings.dbConnectionString" connectionString="Data Source=DESKTOP-5CQRVAN\SQLEXPRESS;Initial Catalog=db;User ID=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="db_server" value="DESKTOP-5CQRVAN\SQLEXPRESS" />
    <add key="db_database" value="db" />
    <add key="db_user" value="sa" />
    <add key="db_pass" value="123" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>